<div class="js-fullpage-container">
	
	<header class="js-fullpage-section page-header fp-auto-height">
		{{ partial src="header" }}

		<section class="work-intro">
		 	<h1 class="work-intro__title">{{title}}</h1>
			{{ if location }}
			<p class="work-intro__location">{{location}}</p>
			{{ /if }}
			{{ if photographer }}
				<p class="work-intro__photographer">Photography by {{photographer}}</p>
			{{ /if }}
			{{ if year }}
				<h3 class="work-intro__year">{{year}}</h3>	
			{{ /if }}
		</section>
	</header>

	<section class="js-fullpage-section page-section page-section--work-hero">
		{{ assets:hero_img }}
			<img src="" data-src="{{ url }}" alt="{{ alt }}" class="lazyload hero-image" />
		{{ /assets:hero_img }}		
	</section>


	{{ content_blocks }}

	  {{ partial src="blocks/{type}" }}

	{{ /content_blocks }}

	<footer class="js-fullpage-section page-footer fp-auto-height">
		<div class="page-section page-section--text page-section--recirc">
			<a href="/projects" class="link link--recirc">Projects</a>
		</div>	
	    {{ partial src="footer" }}
	</footer>

</div>
