/* 
////////////////////////////////////////////////////////////////////////////
Animate all properties
////////////////////////////////////////////////////////////////////////////
*/

@mixin animate {
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}
