/* 
////////////////////////////////////////////////////////////////////////////
Animate all properties
////////////////////////////////////////////////////////////////////////////
*/

@mixin animate {
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}


@mixin animate-slow {
  transition: all;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
}
