/* 
////////////////////////////////////////////////////////////////////////////
Images, iframes, figures
////////////////////////////////////////////////////////////////////////////
*/


img, iframe {
  max-width: 100%;
  -webkit-transform: translateZ(0);
}

.work-img-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $color-gray-light;
}

.work-img {
	max-height: calc(100vh - #{$section-padding});
	max-width: calc(100vw - #{$section-padding});
}