table { 
	width: 100%; 
	border-collapse: collapse; 
	margin: 2em 0;

	td, th { 
		border: 1px solid $color-border;
		padding: 1em 2em;
		line-height: 1.5;
		vertical-align: top;
		font-size: .65em;
	}

	th {
		color: $color-heading; 
		@include font-bold;
	}
}
