<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Another awesome Statamic site">
    <title>{{ title }} | {{ site_name }}</title>
    <link rel="stylesheet" href="{{ theme:css }}">
    <link rel="stylesheet" href="https://use.typekit.net/xao6dcs.css">
</head>


<body class="body--{{ slug }}">

{{ if logged_in }}    
    {{ template_content }}
{{ else }}
    {{ partial:coming-soon }}
{{ /if }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ theme:js }}"></script>

</body>

</html>
