<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ partial:meta-tags }}    

    <title>{{ title }} | {{ site_name }}</title>
    {{ theme:css tag="true" }}

    <link rel="stylesheet" href="/site/themes/bba/css/bba.css">
    <link rel="stylesheet" href="https://use.typekit.net/xao6dcs.css">
</head>


<body class="{{ if slug }}body--{{ slug }}{{ else }}body--home{{ /if }}">

{{ if coming_soon }}

    {{ if logged_in }}
        {{ template_content }}
    {{ else }}    
        {{ partial:coming-soon }}    
    {{ /if }}

{{ else }}

    {{ template_content }}

{{ /if }}

    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- BBA js -->
    <script src="/site/themes/bba/js/bba.js"></script>
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149929913-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-149929913-1');
    </script>

</body>

</html>
