<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {{ nav from="/" include_home="true" }}
  <url>
    <loc>{{ permalink }}</loc>
    <lastmod>{{ last_modified format="Y-m-d" }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>{{ if url == homepage }}0.8{{ else }}0.5{{ /if }}</priority>
  </url>
  {{ if mount }}
  {{ collection :from="mount" }}
  <url>
    <loc>{{ permalink }}</loc>
    <lastmod>{{ last_modified format="Y-m-d" }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.5</priority>
  </url>
  {{ /collection }}
  {{ /if }}
  {{ if children }}
  {{ *recursive children* }}
  {{ /if }}
  {{ /nav }}
</urlset>