<header class="page-header">
	{{ partial src="header" }}
</header>

<div class="tease-wrapper">
	<div class="project-teases">
	{{ collection:projects }}
		<article class="project-tease">
			<a href="{{ url }}" class="project-tease__link">
				{{ assets:thumbnail_img }}
					<img src="{{ url }}" alt="{{ alt }}" class="project-tease__thumbnail-image" />
				{{ /assets:thumbnail_img }}		
			    <h2 class="project-tease__title">{{ title }}</h2>
			</a>
		</article>
	{{ /collection:projects }}
	</div>
</div>

<footer class="page-footer">
    {{ partial src="footer" }}
</footer>

