// Margin auto
// -------
// FOR: centering something with auto left/right margins, but you don't want to affect the top/bottom margins
// USE: @include margin-auto;

@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}



@mixin container($maxwidth: none) {
  position: relative;
  margin: auto;
  max-width: $maxwidth;
  clear: both;
}


// Section width/height
// -------
// FOR: providing consistent viewport-based padding across layouts
// USE: @include section-width; @include section-height;

@mixin section-width {
  max-width: calc(100vw - #{$section-padding--horizontal});
}

@mixin section-height {
  max-height: calc(100vh - #{$section-padding--vertical});
}




// Vertical space
// -------
// FOR: Consistently adding different vertical padding on different pages
// USE: @include vertical-space;

@mixin vertical-space {
  margin-top: $spacing-lg;
  margin-bottom: $spacing-lg;  

  @include mq($m2) {
    margin-top: $spacing-xxl;
    margin-bottom: $spacing-xxl;  
  }
}




// Flex centering
// -------
// FOR: centering a section vertically and horizontally using flexbox
// FOR: defaults to flex-column but can be switched to row
// USE: @include flex-center; @include flex-center(row);

@mixin flex-center($direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}




// Fullbleed image mixin
// -------
// FOR: making items full-browser-width when inside a limited-width parent
// NOTE: The parent must be centered in the browser for this technique to work

@mixin fullbleed {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}



// Absolute Positioning
// -------
// FOR: Quickly setting the top, right, left, and bottom positions of an absolutely positioned element
// WHY: It's verbose to write everytime in CSS
// USE: @include absolute(0 0 10px 0);

@mixin absolute($coordinates: n n n n, $fixed: false) {

  $top: nth($coordinates, 1);
  $right: nth($coordinates, 2);
  $bottom: nth($coordinates, 3);
  $left: nth($coordinates, 4);

  @if $fixed == true {
    position: fixed;
  }
  @else {
    position: absolute;
  }

  @if $top == auto or $top == a {
    top: auto;
  }
  // Print nothing if we write an "n" or "none"
  @else if $top == n or $top == none {
  }
  @else {
    top: $top;
  }

  @if $right == auto or $right == a {
    right: auto;
  }
  // Print nothing if we write an "n" or "none"
  @else if $right == n or $right == none {
  }
  @else {
    right: $right;
  }

  @if $bottom == auto or $bottom == a {
    bottom: auto;
  }
  // Print nothing if we write an "n" or "none"
  @else if $bottom == n or $bottom == none{
  }
  @else {
    bottom: $bottom;
  }

  @if $left == auto or $left == a {
    left: auto;
  }
  // Print nothing if we write an "n" or "none"
  @else if $left == n or $left == none {
  }
  @else {
    left: $left;
  }
}