
/* 
////////////////////////////////////////////////////////////////////////////
Color values
////////////////////////////////////////////////////////////////////////////
*/

$color-white: #fff;
$color-gray: #686763;
$color-gray-light: rgba($color-gray,.5);


/* 
////////////////////////////////////////////////////////////////////////////
Standard applications of color variables
////////////////////////////////////////////////////////////////////////////
*/

$color-base: $color-gray;
$color-background: $color-white;

$color-text: $color-base;
$color-heading: $color-text;

$color-link: rgba($color-base,.5);
$color-link--active: $color-base;

$color-selection-bg: $color-gray-light;
$color-selection-text: $color-text;



/* 
////////////////////////////////////////////////////////////////////////////
Typographic variables
////////////////////////////////////////////////////////////////////////////
*/

$font-family-sans: 'PostGrotesk', Helvetica, sans-serif;
$font-family-serif: linotype-sabon, 'Times New Roman', serif;
$font-family-display: $font-family-serif;

$sans: $font-family-sans;
$serif: $font-family-serif;

$font-family-base: $font-family-serif;
$font-family-heading: $font-family-serif;


$font-size-base: 1rem;
$font-size-small: .8rem;
$font-size-h1: 2.75rem; 
$font-size-h2: 2.25rem; 
$font-size-h3: 1.5rem; 
$font-size-h4: 1.2rem; 
$font-size-h5: 1rem; 
$font-size-h6: .8rem; 
$font-size-p: $font-size-base;
$font-size-caption: $font-size-small;


$line-height-base: 1.5;
$line-height-small: 1.2;
$line-height-body: $line-height-base;
$line-height-p: $line-height-base;
$line-height-heading: $line-height-small;

$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 200;



/* 
////////////////////////////////////////////////////////////////////////////
Layout/spacing variables
////////////////////////////////////////////////////////////////////////////
*/

$spacing-xxs: .25rem;
$spacing-xs: .5rem;
$spacing-sm: .75rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;

$grid-padding: 2%;
$section-padding: 160px;

$font-margin--body-text: 0 0 $spacing-md;
$font-margin--heading-text: 0 0 $spacing-xs;




/* 
////////////////////////////////////////////////////////////////////////////
Breakpoints
////////////////////////////////////////////////////////////////////////////
*/


$s: 600px;
$m: 768px;
$l: 1024px;
$l2: 1200px;
$xl: 1400px;
$nav-breakpoint: $l;
$container-max-width: 1170px;



/* 
////////////////////////////////////////////////////////////////////////////
z-index
////////////////////////////////////////////////////////////////////////////
*/

$zIndex-0: 1;
$zIndex-1: 100;
$zIndex-2: 200;
$zIndex-3: 300;
$zIndex-4: 400;
$zIndex-5: 500;
$zIndex-6: 600;
$zIndex-7: 700;
$zIndex-8: 800;
$zIndex-9: 900;
$zIndex-10: 1000;


