
/* 
////////////////////////////////////////////////////////////////////////////
Color values
////////////////////////////////////////////////////////////////////////////
*/

$color-white: #fff;
$color-gray: #686763;
$color-gray-light: rgba($color-gray,.5);
$color-gray-xlight: rgba($color-gray,.1);


/* 
////////////////////////////////////////////////////////////////////////////
Standard applications of color variables
////////////////////////////////////////////////////////////////////////////
*/

$color-base: $color-gray;
$color-background: $color-white;

$color-text: $color-base;
$color-heading: $color-text;

$color-link: rgba($color-base,.5);
$color-link--active: $color-base;

$color-selection-bg: $color-gray-xlight;
$color-selection-text: $color-text;



/* 
////////////////////////////////////////////////////////////////////////////
Typographic variables
////////////////////////////////////////////////////////////////////////////
*/

$font-family-sans: 'PostGrotesk', Helvetica, sans-serif;
$font-family-serif: linotype-sabon, 'Times New Roman', serif;
$font-family-display: $font-family-serif;

$sans: $font-family-sans;
$serif: $font-family-serif;

$font-family-base: $font-family-serif;
$font-family-heading: $font-family-serif;


$font-size-base: 1.55rem;
$font-size-sm: 1.125rem;
$font-size-xs: .875rem;

$font-size-p: $font-size-base;
$font-size-caption: $font-size-sm;


$line-height-base: 1.75;
$line-height-sm: 1.2;
$line-height-lg: 2.5;

$line-height-body: $line-height-base;
$line-height-p: $line-height-base;
$line-height-heading: $line-height-sm;

$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 200;

$letterspacing-base: 0;
$letterspacing-lg: .05rem;


/* 
////////////////////////////////////////////////////////////////////////////
Layout/spacing variables
////////////////////////////////////////////////////////////////////////////
*/

$spacing-xs: .25rem;
$spacing-sm: .5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 4.25rem;
$spacing-xxl: 6rem;

$grid-padding: 2%;
$section-padding: 20%;
$body-padding: $section-padding/2;

$font-margin--body-text: 0 0 $spacing-md;
$font-margin--heading-text: 0 0 $spacing-sm;

$text-max-width: 750px;



/* 
////////////////////////////////////////////////////////////////////////////
Breakpoints
////////////////////////////////////////////////////////////////////////////
*/


$s: 600px;
$m: 768px;
$l: 1024px;
$l2: 1200px;
$xl: 1400px;
$nav-breakpoint: $m;



/* 
////////////////////////////////////////////////////////////////////////////
z-index
////////////////////////////////////////////////////////////////////////////
*/

$zIndex-n1: -100;
$zIndex-0: 1;
$zIndex-1: 100;
$zIndex-2: 200;
$zIndex-3: 300;
$zIndex-4: 400;
$zIndex-5: 500;
$zIndex-6: 600;
$zIndex-7: 700;
$zIndex-8: 800;
$zIndex-9: 900;
$zIndex-10: 1000;


