.body--contact {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.contact-info {
	@include section-width;
	text-align: center;
}

.contact-info__email {
	margin-bottom: $spacing-xl;
}

.contact-info__phone, 
.contact-info__street, 
.contact-info__city-state-zip {
	margin-bottom: 0;
	font-size: $font-size-sm;
	line-height: $line-height-lg;
	letter-spacing: $letter-spacing-lg;
}