.body--contact {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.contact-info {
	@include section-width;
	text-align: center;
	letter-spacing: $letterspacing-lg;
}

.contact-info__email {
	letter-spacing: $letterspacing-base;
	margin-bottom: $spacing-xl;
}