.homepage-video__playlist {
	display: none;
}

.homepage-video {
  position: relative;
  z-index: 1;
  padding-bottom: 56.25%; /* preserves video aspect ratio */
  
  video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
  }
}


.homepage-wrapper {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  min-height: calc(100vh - #{$nav-height});
}