.person {
	// width: calc(#{$layout-max-width} - #{$section-padding});
	// @include section-width;
	@include flex-center;
	// @include section-height;
	// @include vertical-space;
	// @include margin-auto;

	@include mq($nav-breakpoint) {
		height: calc(100vh - #{$nav-height});
	}

	// @include mq($nav-breakpoint) {
	// 	display: flex;
	// 	justify-content: space-between;
	// 	align-items: flex-start;
	// }

}

.person__name {
	@extend %visuallyhidden;
}

.person__img {
	@include section-width;
	// max-height: 90%;
	max-height: calc((100vh - #{$nav-height}) - #{$section-padding});
	@include margin-auto;
	margin-top: $spacing-lg;
	margin-bottom: $spacing-lg;  

	@include mq($nav-breakpoint) {
		margin-top: -$spacing-xl;
	}
}

.person__bio {
	@include section-width;
	@include vertical-space;
	@include margin-auto;

	p {
		// font-family: $font-family-sans;
		// font-size: $font-size-sm;
	}
}