.tease-wrapper {
	@include section-width;
	margin: $spacing-xxl auto;
}

.project-teases {
	display: flex;
	flex-wrap: wrap;

	&:hover, &:focus {
		.project-tease__thumbnail-image {
			opacity: .75;
		}
	}

	// non-grid layout
	@supports not (display: grid) {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1.5rem;
	}

	// grid layout
	@supports (display: grid) {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 3rem;

		@include mq($s) {
			grid-template-columns: 1fr 1fr;
		}

		@include mq($m) {
			grid-gap: $spacing-xl;
		}

		@include mq($l) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}

.project-tease {
	@supports not (display: grid) {
		padding: 1.5rem;

		@include mq($s) {
			width: 50%;
		}

		@include mq($l) {
			width: calc(100% / 3);
		}
	}

	opacity: 0;

	@for $i from 1 through 4 {
		&:nth-child( 4n + #{$i} ) {
			animation: fadeIn 1s #{$i * 0.1}s ease 1 forwards;
		}
	}
}

.project-tease__link {
	position: relative;
	display: block;
	line-height: 1;

	&:hover, &:focus {
		.project-tease__thumbnail-image, .project-tease__title {
			opacity: 1;
		}
	}
}

.project-tease__thumbnail-image {
	display: block;
	@include animate-slow;
}

.project-tease__title {
	position: absolute;
	top: 100%;
	@include nav-link;
	font-family: $font-family-sans;
	padding-top: $spacing-xs;
	opacity: 0;
	@include animate-slow;
}