/* 
////////////////////////////////////////////////////////////////////////////
CSS scroll snap fallback
javascript-applied class if screen is under 768px
////////////////////////////////////////////////////////////////////////////
*/

// .fullpage-container--css-snap {
// 	scroll-snap-type: y mandatory;
// 	max-height: 100vh;
// 	overflow-y: scroll;

// 	.js-fullpage-section {
// 		scroll-snap-align: start;
// 	}
// }



/* 
////////////////////////////////////////////////////////////////////////////
Page sections
////////////////////////////////////////////////////////////////////////////
*/

.page-section {
	@include flex-center;
	width: 100%;
	margin: 25vh 0;

	@include mq($nav-breakpoint) {
		height: 100vh;
		margin: 0;
	}
}

.page-section--text {
	@include section-width;
	@include margin-auto;
	min-height: 25vh;

	@include mq($nav-breakpoint) {
		min-height: 100vh;
	}
}

.page-section--things {
	text-align: center;
	font-style: italic;
}

.page-section--project-hero {
	margin-top: 0;
}

.page-section--project-hero, .page-section--image {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: calc(50% - 30px);
		left: calc(50% - 30px);
		width: 60px;
		height: 60px;
		background-color: $color-gray-light;
		border-radius: 100%;  
		animation: loading 1.25s infinite ease-in-out;
	}
}

/* 
////////////////////////////////////////////////////////////////////////////
Intro
////////////////////////////////////////////////////////////////////////////
*/

.project-intro {
	@include flex-center;
	height: calc(90vh - 150px);

	@include mq($nav-breakpoint) {
		height: calc(80vh - 150px);
	}
}

.project-intro__title, 
.project-intro__location, 
.project-intro__photographer, 
.project-intro__year, 
.project-intro__misc,
.project-intro__misc p {
	max-width: 36em;
	font-family: $font-family-sans;
	font-size: $font-size-sm;
	line-height: $line-height-lg;
	text-align: center;
	margin-bottom: 0;
}


/* 
////////////////////////////////////////////////////////////////////////////
Inline images
////////////////////////////////////////////////////////////////////////////
*/

.inline-image {
	@include section-width;
	@include section-height;
}


/* 
////////////////////////////////////////////////////////////////////////////
Inline text
////////////////////////////////////////////////////////////////////////////
*/

.inline-text {
	max-width: $text-max-width;
	@include margin-auto;
}


/* 
////////////////////////////////////////////////////////////////////////////
"Things We Learned" list
////////////////////////////////////////////////////////////////////////////
*/

.things__heading, .things__list-item {
	@include fluid-text;
	margin-bottom: 1.75em;
}



/* 
////////////////////////////////////////////////////////////////////////////
Projects recirculation link
////////////////////////////////////////////////////////////////////////////
*/

.page-section--recirc {
	@include nav-link;
	min-height: 100vh;
	margin-top: 0;
	margin-bottom: 0;

	@include mq($nav-breakpoint) {
		min-height: 0;
	}
}