/* 
////////////////////////////////////////////////////////////////////////////
CSS scroll snap fallback
javascript-applied class if screen is under 768px
////////////////////////////////////////////////////////////////////////////
*/

.fullpage-container--css-snap {
	scroll-snap-type: y mandatory;
	max-height: 100vh;
	overflow-y: scroll;

	.js-fullpage-section {
		scroll-snap-align: start;
	}
}



/* 
////////////////////////////////////////////////////////////////////////////
Page sections
////////////////////////////////////////////////////////////////////////////
*/

.page-section {
	@include flex-center;
	height: 100vh;
	width: 100%;
}

.page-section--text {
	@include section-width;
	@include margin-auto;
	min-height: 100vh;
}

.page-section--things {
	text-align: center;
	font-style: italic;
}


/* 
////////////////////////////////////////////////////////////////////////////
Intro
////////////////////////////////////////////////////////////////////////////
*/

.project-intro {
	@include flex-center;
	height: calc(80vh - 150px);
}

.project-intro__title, 
.project-intro__location, 
.project-intro__photographer, 
.project-intro__year, 
.project-intro__misc,
.project-intro__misc p {
	max-width: 36em;
	font-family: $font-family-sans;
	font-size: $font-size-sm;
	line-height: $line-height-lg;
	// letter-spacing: $letter-spacing-lg;
	text-align: center;
	margin-bottom: 0;
}


/* 
////////////////////////////////////////////////////////////////////////////
Inline images
////////////////////////////////////////////////////////////////////////////
*/

.inline-image {
	@include section-width;
	@include section-height;
}


/* 
////////////////////////////////////////////////////////////////////////////
Inline text
////////////////////////////////////////////////////////////////////////////
*/

.inline-text {
	max-width: $text-max-width;
}


/* 
////////////////////////////////////////////////////////////////////////////
"Things We Learned" list
////////////////////////////////////////////////////////////////////////////
*/

.things__heading, .things__list-item {
	@include fluid-text;
	margin-bottom: 1.75em;
}



/* 
////////////////////////////////////////////////////////////////////////////
Projects recirculation link
////////////////////////////////////////////////////////////////////////////
*/

.page-section--recirc {
	@include nav-link;
	min-height: 0;
}