/* 
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
In this file you should centralize your imports
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
/* 00 -- resets: pick one or the other, Reset or Normalize. For more info: https://the-pastry-box-project.net/oli-studholme/2013-june-3 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* 01 -- base components: variables, mixins, grids, fonts, media queries, etc. */
/* 
////////////////////////////////////////////////////////////////////////////
Color values
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Standard applications of color variables
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Typographic variables
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Layout/spacing variables
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Breakpoints
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
z-index
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Embed custom fonts here
////////////////////////////////////////////////////////////////////////////
*/
@font-face {
  font-family: 'PostGrotesk';
  src: url("../fonts/PostGrotesk-Book.woff2") format("woff2"), url("../fonts/PostGrotesk-Book.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'PostGrotesk';
  src: url("../fonts/PostGrotesk-Italic.woff2") format("woff2"), url("../fonts/PostGrotesk-Italic.woff") format("woff");
  font-style: italic;
}

/* 
////////////////////////////////////////////////////////////////////////////
Color functions -- making up for Compass
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Basic font style mixins
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Block-level typographic elements
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Stylistic applications
////////////////////////////////////////////////////////////////////////////
*/
/* 02 -- styleguide-level patterns: typography, images, figures, forms, tags, notifications, etc. */
/* 
////////////////////////////////////////////////////////////////////////////
Animate all properties
////////////////////////////////////////////////////////////////////////////
*/
a {
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

a:hover, a:focus {
  color: #686763;
}

/* 
////////////////////////////////////////////////////////////////////////////
Images, iframes, figures
////////////////////////////////////////////////////////////////////////////
*/
img, iframe {
  max-width: 100%;
  -webkit-transform: translateZ(0);
}

svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

/* 
////////////////////////////////////////////////////////////////////////////
Headings
////////////////////////////////////////////////////////////////////////////
*/
h1 {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.75;
  color: #686763;
}

h1 a {
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

h1 a:hover, h1 a:focus {
  color: #686763;
}

h2 {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.75;
  color: #686763;
}

h2 a {
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

h2 a:hover, h2 a:focus {
  color: #686763;
}

h3 {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.75;
  color: #686763;
}

h3 a {
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

h3 a:hover, h3 a:focus {
  color: #686763;
}

h4 {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.75;
  color: #686763;
}

h4 a {
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

h4 a:hover, h4 a:focus {
  color: #686763;
}

h5 {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.75;
  color: #686763;
}

h5 a {
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

h5 a:hover, h5 a:focus {
  color: #686763;
}

h6 {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.75;
  color: #686763;
}

h6 a {
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

h6 a:hover, h6 a:focus {
  color: #686763;
}

/* 
////////////////////////////////////////////////////////////////////////////
Block-level Elements
////////////////////////////////////////////////////////////////////////////
*/
p {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.75;
  color: #686763;
  margin-bottom: 1em;
}

p a {
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

p a:hover, p a:focus {
  color: #686763;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.75;
  color: #686763;
  margin-bottom: 1em;
}

li a {
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

li a:hover, li a:focus {
  color: #686763;
}

/* 
////////////////////////////////////////////////////////////////////////////
Inline Elements
////////////////////////////////////////////////////////////////////////////
*/
strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

/* 
////////////////////////////////////////////////////////////////////////////
Special Formatting
////////////////////////////////////////////////////////////////////////////
*/
small {
  font-size: 1.125rem;
}

.smallcaps {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* 03 -- individual components reused throughout multiple layouts: header, footer, navigation, sidebars, carousels, etc. */
.site-header {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}

.logo-link {
  color: #686763;
}

.bba-logo {
  width: 304px;
  height: 24px;
  margin-right: 2rem;
}

.site-nav {
  position: relative;
  margin: auto;
  max-width: 75rem;
  padding: 0 2%;
  clear: both;
  display: flex;
  align-items: flex-end;
}

.site-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-menu__menu-item {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.75;
  color: #686763;
  display: inline-block;
  margin-bottom: 0;
  font-family: "PostGrotesk", Helvetica, sans-serif;
}

.site-menu__menu-item a {
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

.site-menu__menu-item a:hover, .site-menu__menu-item a:focus {
  color: #686763;
}

.site-menu__menu-item:not(:last-child) {
  margin-right: 1.5rem;
}

.instagram {
  width: 14px;
  height: 14px;
}

footer ul, footer ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer p, footer li {
  margin-bottom: 0;
  font-size: 1.125rem;
}

.copyright {
  padding: 2em;
  float: right;
}

/* 04 -- idividual page layouts, including global styles */
/* 
////////////////////////////////////////////////////////////////////////////
Styles not specific to any particular site page. Place things like "general" paragraph styles, heading styles, base list styles, etc. here.

If you're calling the container mixin, you can define a custom max-width. Otherwise, the max-width's default value is 81.25em (1300px)

.container {
  @include container(70em);
}
////////////////////////////////////////////////////////////////////////////
*/
* {
  box-sizing: border-box;
}

html {
  /*font-size: 1em;  change this for different breakpoints to make a responsive typographic scale */
  font-size: .75em;
  /* change this for different breakpoints to make a responsive typographic scale */
}

@media (min-width: 600px) {
  html {
    font-size: .85em;
  }
}

@media (min-width: 768px) {
  html {
    font-size: .9em;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 1em;
  }
}

body {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.75;
  color: #686763;
  margin-bottom: 1em;
  color: #686763;
  background-color: #fff;
  position: relative;
  padding: 0 10%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a {
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

body a:hover, body a:focus {
  color: #686763;
}

::selection {
  background: rgba(104, 103, 99, 0.5);
  color: #686763;
}

::-moz-selection {
  /* Firefox */
  background: rgba(104, 103, 99, 0.5);
  color: #686763;
}

.container {
  position: relative;
  margin: auto;
  max-width: 75rem;
  padding: 0 2%;
  clear: both;
}

hr {
  background-color: rgba(104, 103, 99, 0.5);
  height: 1px;
  border: none;
}

/* 
////////////////////////////////////////////////////////////////////////////
Intro section 
////////////////////////////////////////////////////////////////////////////
*/
.work-intro {
  text-align: center;
}

.work-intro__title, .work-intro__location, .work-intro__photographer, .work-intro__year {
  font-size: 1.125rem;
  line-height: 2.5;
  letter-spacing: .05rem;
  margin-bottom: 0;
}

/* 
////////////////////////////////////////////////////////////////////////////
Page sections
////////////////////////////////////////////////////////////////////////////
*/
.page-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-section--text {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.inline-image {
  max-height: calc(100vh - 20%);
  max-width: calc(100vw - 20%);
}

/* 
////////////////////////////////////////////////////////////////////////////
Work images
////////////////////////////////////////////////////////////////////////////
*/
.page-section--things {
  text-align: center;
  font-style: italic;
}

/* 
////////////////////////////////////////////////////////////////////////////
"Things We Learned" list
////////////////////////////////////////////////////////////////////////////
*/
.things__heading, .things__list-item {
  margin-bottom: 1.75em;
}

/* 05 -- individual third-party components */

/*# sourceMappingURL=bba.css.map */
