/* 
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
In this file you should centralize your imports
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
/* 00 -- resets: pick one or the other, Reset or Normalize. For more info: https://the-pastry-box-project.net/oli-studholme/2013-june-3 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* 01 -- base components: variables, mixins, grids, fonts, media queries, etc. */
/* 
////////////////////////////////////////////////////////////////////////////
Color values
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Standard applications of color variables
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Typographic variables
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Layout/spacing variables
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Breakpoints
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
z-index
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Embed custom fonts here
////////////////////////////////////////////////////////////////////////////
*/
@font-face {
  font-family: 'PostGrotesk';
  src: url("../fonts/PostGrotesk-Book.woff2") format("woff2"), url("../fonts/PostGrotesk-Book.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'PostGrotesk';
  src: url("../fonts/PostGrotesk-Italic.woff2") format("woff2"), url("../fonts/PostGrotesk-Italic.woff") format("woff");
  font-style: italic;
}

/* 
////////////////////////////////////////////////////////////////////////////
Color functions -- making up for Compass
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Basic font style mixins
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Block-level typographic elements
////////////////////////////////////////////////////////////////////////////
*/
/* 
////////////////////////////////////////////////////////////////////////////
Stylistic applications
////////////////////////////////////////////////////////////////////////////
*/
/* 02 -- styleguide-level patterns: typography, images, figures, forms, tags, notifications, etc. */
/* 
////////////////////////////////////////////////////////////////////////////
Animate all properties
////////////////////////////////////////////////////////////////////////////
*/
a {
  font-family: "PostGrotesk", Helvetica, sans-serif;
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

a:hover, a:focus {
  color: #686763;
}

/* 
////////////////////////////////////////////////////////////////////////////
Images, iframes, figures
////////////////////////////////////////////////////////////////////////////
*/
img, iframe {
  max-width: 100%;
  -webkit-transform: translateZ(0);
}

/* 
////////////////////////////////////////////////////////////////////////////
Lazyloaded Images (https://github.com/aFarkas/lazysizes)
////////////////////////////////////////////////////////////////////////////
*/
.no-js .lazyload {
  opacity: 1;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: all;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
}

svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

/* 
////////////////////////////////////////////////////////////////////////////
Headings
////////////////////////////////////////////////////////////////////////////
*/
h1 {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.75;
  color: #686763;
}

h1 a {
  font-family: "PostGrotesk", Helvetica, sans-serif;
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

h1 a:hover, h1 a:focus {
  color: #686763;
}

h2 {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.75;
  color: #686763;
}

h2 a {
  font-family: "PostGrotesk", Helvetica, sans-serif;
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

h2 a:hover, h2 a:focus {
  color: #686763;
}

h3 {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.75;
  color: #686763;
}

h3 a {
  font-family: "PostGrotesk", Helvetica, sans-serif;
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

h3 a:hover, h3 a:focus {
  color: #686763;
}

h4 {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.75;
  color: #686763;
}

h4 a {
  font-family: "PostGrotesk", Helvetica, sans-serif;
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

h4 a:hover, h4 a:focus {
  color: #686763;
}

h5 {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.75;
  color: #686763;
}

h5 a {
  font-family: "PostGrotesk", Helvetica, sans-serif;
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

h5 a:hover, h5 a:focus {
  color: #686763;
}

h6 {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.75;
  color: #686763;
}

h6 a {
  font-family: "PostGrotesk", Helvetica, sans-serif;
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

h6 a:hover, h6 a:focus {
  color: #686763;
}

/* 
////////////////////////////////////////////////////////////////////////////
Block-level Elements
////////////////////////////////////////////////////////////////////////////
*/
p {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.75;
  color: #686763;
  font-size: 20px;
  margin-bottom: 1em;
}

p a {
  font-family: "PostGrotesk", Helvetica, sans-serif;
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

p a:hover, p a:focus {
  color: #686763;
}

@media (min-width: 600px) and (max-width: 1399px) {
  p {
    font-size: calc(20px + (28 - 20) * (100vw - 600px) / (1400 - 600));
  }
}

@media (min-width: 1400px) {
  p {
    font-size: 28px;
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.75;
  color: #686763;
  font-size: 20px;
  margin-bottom: 1em;
}

li a {
  font-family: "PostGrotesk", Helvetica, sans-serif;
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

li a:hover, li a:focus {
  color: #686763;
}

@media (min-width: 600px) and (max-width: 1399px) {
  li {
    font-size: calc(20px + (28 - 20) * (100vw - 600px) / (1400 - 600));
  }
}

@media (min-width: 1400px) {
  li {
    font-size: 28px;
  }
}

/* 
////////////////////////////////////////////////////////////////////////////
Inline Elements
////////////////////////////////////////////////////////////////////////////
*/
strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

/* 
////////////////////////////////////////////////////////////////////////////
Special Formatting
////////////////////////////////////////////////////////////////////////////
*/
small {
  font-size: 1.125rem;
}

.smallcaps {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* 03 -- individual components reused throughout multiple layouts: header, footer, navigation, sidebars, carousels, etc. */
.site-header {
  width: 100%;
  padding: 4.25rem 0;
  display: flex;
  justify-content: center;
}

.logo-link {
  color: #686763;
  margin-right: 4.25rem;
}

.logo-link:hover, .logo-link:focus {
  color: rgba(104, 103, 99, 0.5);
}

.bba-logo {
  width: 304px;
  height: 24px;
}

.site-nav {
  position: relative;
  margin: auto;
  max-width: 75rem;
  padding: 0 2%;
  clear: both;
  display: flex;
  align-items: flex-end;
}

.site-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

@media (min-width: 0) and (max-width: 767px) {
  .site-menu {
    display: none;
  }
}

.site-menu__menu-item {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.75;
  color: #686763;
  margin-bottom: 0;
}

.site-menu__menu-item a {
  font-family: "PostGrotesk", Helvetica, sans-serif;
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

.site-menu__menu-item a:hover, .site-menu__menu-item a:focus {
  color: #686763;
}

.site-menu__menu-item:not(:last-child) {
  margin-right: 1.5rem;
}

.instagram {
  width: 14px;
  height: 14px;
}

.site-footer {
  font-family: "PostGrotesk", Helvetica, sans-serif;
  font-size: 0.875rem;
  align-self: flex-start;
  margin: 0 0 4.25rem 10%;
}

/* 04 -- idividual page layouts, including global styles */
/* 
////////////////////////////////////////////////////////////////////////////
Styles not specific to any particular site page. Place things like "general" paragraph styles, heading styles, base list styles, etc. here.

If you're calling the container mixin, you can define a custom max-width. Otherwise, the max-width's default value is 81.25em (1300px)

.container {
  @include container(70em);
}
////////////////////////////////////////////////////////////////////////////
*/
* {
  box-sizing: border-box;
}

html {
  font-size: 1em;
  /*change this for different breakpoints to make a responsive typographic scale */
}

body {
  font-family: linotype-sabon, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.75;
  color: #686763;
  font-size: 20px;
  margin-bottom: 1em;
  color: #686763;
  background-color: #fff;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a {
  font-family: "PostGrotesk", Helvetica, sans-serif;
  color: rgba(104, 103, 99, 0.5);
  text-decoration: none;
  transition: all;
  transition-duration: .125s;
  transition-timing-function: ease-in-out;
}

body a:hover, body a:focus {
  color: #686763;
}

@media (min-width: 600px) and (max-width: 1399px) {
  body {
    font-size: calc(20px + (28 - 20) * (100vw - 600px) / (1400 - 600));
  }
}

@media (min-width: 1400px) {
  body {
    font-size: 28px;
  }
}

::selection {
  background: rgba(104, 103, 99, 0.1);
  color: #686763;
}

::-moz-selection {
  /* Firefox */
  background: rgba(104, 103, 99, 0.1);
  color: #686763;
}

.container {
  position: relative;
  margin: auto;
  max-width: 75rem;
  padding: 0 2%;
  clear: both;
}

hr {
  background-color: rgba(104, 103, 99, 0.5);
  height: 1px;
  border: none;
}

/* 
////////////////////////////////////////////////////////////////////////////
Intro section 
////////////////////////////////////////////////////////////////////////////
*/
.work-intro {
  height: calc(80vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-intro__title, .work-intro__location, .work-intro__photographer, .work-intro__year {
  font-size: 1.125rem;
  line-height: 2.5;
  letter-spacing: .05rem;
  margin-bottom: 0;
}

.hero-image {
  max-width: calc(100vw - 20%);
  max-height: calc(100vh - 20%);
}

/* 
////////////////////////////////////////////////////////////////////////////
Page sections
////////////////////////////////////////////////////////////////////////////
*/
.page-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-section--text {
  min-height: 100vh;
  max-width: calc(100vw - 20%);
  margin-left: auto;
  margin-right: auto;
}

.page-section--things {
  text-align: center;
  font-style: italic;
}

/* 
////////////////////////////////////////////////////////////////////////////
Work images
////////////////////////////////////////////////////////////////////////////
*/
.inline-image {
  max-width: calc(100vw - 20%);
  max-height: calc(100vh - 20%);
}

/* 
////////////////////////////////////////////////////////////////////////////
Inline text
////////////////////////////////////////////////////////////////////////////
*/
.inline-text {
  max-width: 750px;
}

/* 
////////////////////////////////////////////////////////////////////////////
"Things We Learned" list
////////////////////////////////////////////////////////////////////////////
*/
.things__heading, .things__list-item {
  font-size: 20px;
  margin-bottom: 1.75em;
}

@media (min-width: 600px) and (max-width: 1399px) {
  .things__heading, .things__list-item {
    font-size: calc(20px + (28 - 20) * (100vw - 600px) / (1400 - 600));
  }
}

@media (min-width: 1400px) {
  .things__heading, .things__list-item {
    font-size: 28px;
  }
}

.tease-wrapper {
  max-width: calc(100vw - 20%);
  margin: 6rem auto;
}

.project-teases {
  display: flex;
  flex-wrap: wrap;
}

.project-teases:hover .project-tease__thumbnail-image, .project-teases:focus .project-tease__thumbnail-image {
  opacity: .75;
}

@supports not (display: grid) {
  .project-teases {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
  }
}

@supports (display: grid) {
  .project-teases {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
  @media (min-width: 600px) {
    .project-teases {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 1024px) {
    .project-teases {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@supports not (display: grid) {
  .project-tease {
    padding: 1.5rem;
  }
  @media (min-width: 600px) {
    .project-tease {
      width: 50%;
    }
  }
  @media (min-width: 1024px) {
    .project-tease {
      width: calc(100% / 3);
    }
  }
}

.project-tease__link {
  position: relative;
  display: block;
  line-height: 1;
}

.project-tease__link:hover .project-tease__thumbnail-image, .project-tease__link:hover .project-tease__title, .project-tease__link:focus .project-tease__thumbnail-image, .project-tease__link:focus .project-tease__title {
  opacity: 1;
}

.project-tease__thumbnail-image {
  display: block;
  transition: all;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
}

.project-tease__title {
  position: absolute;
  top: 100%;
  font-size: 1.125rem;
  font-family: "PostGrotesk", Helvetica, sans-serif;
  padding-top: 0.25rem;
  opacity: 0;
  transition: all;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
}

/* 05 -- individual third-party components */
/*!
 * fullPage 3.0.5
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fp-section {
  position: relative;
  /* Safari<=5 Android<=3 */
  /* <=28 */
  box-sizing: border-box;
}

.fp-slide {
  float: left;
}

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.fp-slidesContainer {
  float: left;
  position: relative;
}

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  transform: translate3d(0, 0, 0);
}

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}

.fp-scrollable {
  overflow: hidden;
  position: relative;
}

.fp-scroller {
  overflow: hidden;
}

.iScrollIndicator {
  border: 0 !important;
}

.fp-notransition {
  transition: none !important;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}

#fp-nav.fp-right {
  right: 17px;
}

#fp-nav.fp-left {
  left: 17px;
}

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important;
}

.fp-slidesNav.fp-bottom {
  bottom: 17px;
}

.fp-slidesNav.fp-top {
  top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.fp-slidesNav ul li {
  display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}

#fp-nav ul li .fp-tooltip.fp-right {
  right: 20px;
}

#fp-nav ul li .fp-tooltip.fp-left {
  left: 20px;
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important;
}

/*Only display content to screen readers*/
.fp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.fp-tableCell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header .fp-tableCell, .page-footer .fp-tableCell {
  flex-direction: column;
}

/*# sourceMappingURL=bba.css.map */
