.site-header {
	width: 100%;
	padding: 3.5rem 0;
	display: flex;
	justify-content: center;

	@include mq($nav-breakpoint) {
		padding: $spacing-xl 0;
	}
}

.logo-link {
	color: $color-base;
	line-height: 1;
	z-index: $zIndex-2;

	@include mq($m) {
		margin-right: 2.5rem;
	}

	@include mq($l) {
		margin-right: $spacing-xl;
	}

	&:hover, &:focus {
		color: $color-link;
	}
}

.bba-logo {
	width: 225px;
	height: 18px;

	@include mq($m) {
		width: 304px;
		height: 24px;
	}
}

.site-nav {
	@include container;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 $body-padding;
	
	@include mq($nav-breakpoint) {
		width: auto;
		justify-content: center;
		align-items: flex-end;
		padding: 0;
	}
}

.menu-wrapper {
	@include mq(0, $nav-breakpoint) {
		display: flex;
		justify-content: center;
		align-items: stretch;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $color-white;
		padding: 50vh 10% 1.5rem;
		@include animate;
		opacity: 0;
		z-index: $zIndex-n1;

		.nav-is-open & {
			opacity: 1;
			z-index: $zIndex-1;
		}
	}	
}

.site-menu {
	@include ul-null;
	display: flex;

	@include mq(0, $nav-breakpoint) {
		flex-direction: column;
		justify-content: space-around;
	    align-items: flex-start;
	    width: 100%;
	}

	@include mq($nav-breakpoint) {
		align-items: center;
	}
}

.site-menu__menu-item {
	@include nav-link;
	line-height: 1;
	margin-bottom: 0;

	@include mq(0, $nav-breakpoint) {
		opacity: 0;
			
		.nav-is-open & {
			@for $i from 1 through 4 {
				&:nth-child( #{$i} ) {
					animation: slideIn .5s #{$i * 0.1}s ease 1 forwards;
				}
			}
		}
	}

	@include mq($nav-breakpoint) {
		&:not(:last-child) {
			margin-right: $spacing-lg;
		}
	}
}

.instagram {
	width: 14px;
	height: 14px;
}