.tease-wrapper {
	@include section-width;
	@include vertical-space;
	@include margin-auto;
}

.teases {
	display: flex;
	flex-wrap: wrap;

	&:hover, &:focus {
		.tease__thumbnail-image {
			opacity: .75;
		}
	}

	@include mq($s) {
		margin-left: -2rem;
		margin-right: -2rem;
	}
}

.tease {
	padding: 1.5rem 0;

	@include mq($s) {
		width: 50%;
		padding: 2rem;
	}

	@include mq($l) {
		width: calc(100% / 3);
	}

	position: relative;
	opacity: 0;

	&:hover, &:focus {
		.tease__thumbnail-image, .tease__title {
			opacity: 1 !important;
		}
	}

	@for $i from 1 through 4 {
		&:nth-child( 4n + #{$i} ) {
			animation: fadeIn 1s #{$i * 0.1}s ease 1 forwards;
		}
	}
}

.tease__link {
	display: block;
	line-height: 1;
}

.tease__thumbnail-image {
	display: block;
	@include animate-slow;

	.teases--studio & {
		&.lazyloaded ~ .tease__title {
			opacity: 1;
		}
	}

	.teases--work & {
		&.lazyloaded ~ .tease__title {
			opacity: 1;
			/* smartphones, touchscreens */
			@media (hover: none) and (pointer: coarse) {
				opacity: 1;
			}
			/* mouse, touch pad */
			@media (hover: hover) and (pointer: fine) {
				opacity: 0;
			}
		}
	}
}

.tease__title {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	@include nav-link;
	text-align: center;
	@include animate-slow;
	opacity: 0;
	padding: .25rem 1rem 0;
	margin-top: -1.5rem;

	@include mq($s) {
		margin-top: -2rem;
	}

	@include mq(0, $nav-breakpoint) {
		font-size: $font-size-sm;
	}
}