<section class="coming-soon">
	<h1 class="coming-soon__heading">Brent Buck Architects</h1>
	<div class="coming-soon__logo">{{ partial src="svg/bba-logo" }}</div>
	<div class="coming-soon__instagram">
		<a href="{{ instagram_url }}" target="_blank" rel="noopener">{{ partial src="svg/instagram" }}</a>
	</div>
</section>

<section class="coming-soon-contact">
	<p>138 Prospect Place</p>
	<p>Brooklyn, New York, 11217</p>
	<p>917.657.8905</p>
	<p><a href="mailto:contact@brentbuckarchitects.com">contact@brentbuckarchitects.com</a></p>
</section>