<header class="site-header">
    <nav class="site-nav" role="navigation">
        <a href="/" class="logo-link">{{ partial src="svg/bba-logo" }}</a>
        <ul class="site-menu">
            <li class="site-menu__menu-item">
                <a href="#">Projects</a>
            </li>
            <li class="site-menu__menu-item">
                <a href="#">Practice</a>
            </li>
            <li class="site-menu__menu-item">
                <a href="#">Contact</a>
            </li>
            <li class="site-menu__menu-item">
                <a href="#">{{ partial src="svg/instagram" }}</a>
            </li>
        </ul>
    </nav>
</header>