<header class="site-header">
    <nav class="site-nav" role="navigation">
        <a href="/" class="logo-link">{{ partial src="svg/bba-logo" }}</a>

        <span class="site-nav__nav-toggle" title="Menu">
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </span>

        <div class="menu-wrapper">
            <ul class="site-menu">
                <li class="site-menu__menu-item">
                    <a href="/work">Work</a>
                </li>
                <li class="site-menu__menu-item">
                    <a href="/studio">Studio</a>
                </li>
                <li class="site-menu__menu-item">
                    <a href="/contact">Contact</a>
                </li>
                {{ if instagram_url }}
                <li class="site-menu__menu-item">
                    <a href="{{ instagram_url }}" target="_blank" rel="noopener">{{ partial src="svg/instagram" }}</a>
                </li>
                {{ /if }}
            </ul>            
        </div>
    </nav>
</header>