<meta name="description" content="Brent Buck Architects is a Brooklyn-based architectural design firm founded by Brent Allen Buck in 2015.">

<meta name="keywords" content="Brent Buck Architects, Brent Buck, Brent Allen Buck, Buck Projects, Brooklyn architects, Manhattan architects, townhouse renovation, apartment renovation, brownstone renovation" />


<!-- Open Graph markup -->
<meta property="og:title" content="{{ title }}" />
<meta property="og:url" content="{{ url }}" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="{{ site_name }}" />
<meta property="og:description" content="Brent Buck Architects is a Brooklyn-based architectural design firm founded by Brent Allen Buck in 2015." />
<meta property="og:locale" content="en_US" />

<!-- Twitter cards -->
<meta name="twitter:site" content="{{ site_name }}" />
<meta name="twitter:domain" content="brentbuckarchitects.com" />
<meta name="twitter:description" content="Brent Buck Architects is a Brooklyn-based architectural design firm founded by Brent Allen Buck in 2015." />
<meta name="twitter:image" content="">
