<meta name="title" content="{{ if seo_title }}{{ seo_title }}{{ else }}{{ title }}{{ /if }}" />
<meta name="description" content="{{ if seo_description }}{{ seo_description }}{{ elseif seo_description_default }}{{ seo_description_default }}{{ else }}Brent Buck Architects is a Brooklyn-based architectural design firm founded by Brent Allen Buck in 2015.{{ /if }}">
<meta name="keywords" content="{{ if seo_keywords }}{{ seo_keywords }}{{ elseif seo_keywords_default }}{{ seo_keywords_default }}{{ else }}Brent Buck Architects, Brent Buck, Brent Allen Buck, Buck Projects, Brooklyn architects, Manhattan architects, townhouse renovation, apartment renovation, brownstone renovation{{ /if }}">


<!-- Open Graph markup -->
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US" />

<meta property="og:title" content="{{ if seo_title }}{{ seo_title }}{{ else }}{{ title }}{{ /if }}" />
<meta property="og:url" content="{{ url }}" />
<meta property="og:image" content="{{ if seo_image }}{{ seo_image }}{{ value }}{{ /seo_image }}{{ elseif hero_img }}{{ assets:hero_img }}{{ url }}{{ /assets:hero_img }}{{ elseif seo_image_default }}{{ seo_image_default }}{{ value }}{{ /seo_image_default }}{{ else }}/assets/bba-social-default.png{{ /if }}" />
<meta property="og:site_name" content="{{ site_name }}" />
<meta property="og:description" content="{{ if seo_description }}{{ seo_description }}{{ elseif seo_description_default }}{{ seo_description_default }}{{ else }}Brent Buck Architects is a Brooklyn-based architectural design firm founded by Brent Allen Buck in 2015.{{ /if }}" />

<!-- Twitter cards -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ url }}" />
<meta property="twitter:title" content="{{ if seo_title }}{{ seo_title }}{{ else }}{{ title }}{{ /if }}" />
<meta name="twitter:site" content="{{ site_name }}" />
<meta property="twitter:description" content="{{ if seo_description }}{{ seo_description }}{{ elseif seo_description_default }}{{ seo_description_default }}{{ else }}Brent Buck Architects is a Brooklyn-based architectural design firm founded by Brent Allen Buck in 2015.{{ /if }}" />
<meta property="twitter:image" content="{{ if seo_image }}{{ seo_image }}{{ value }}{{ /seo_image }}{{ elseif hero_img }}{{ assets:hero_img }}{{ url }}{{ /assets:hero_img }}{{ elseif seo_image_default }}{{ seo_image_default }}{{ value }}{{ /seo_image_default }}{{ else }}/assets/bba-social-default.png{{ /if }}" />
